$main: #de4b2c;
$sec: #ffce95;

// General Styling
html {
  font-size: 10px;

  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  line-height: 1.4;

  font-family: 'Inter';
  font-size: 1.4rem;
  color: #404040;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  row-gap: 9rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

section {
  width: 100%;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  color: #f6f6f6;
  font-size: 1.6rem;

  strong {
    font-weight: 500;
    color: #ffffff;
  }
}

.heading {
  font-family: 'Poppins';
  font-size: 3.2rem;
  color: #202020;

  .highlight {
    color: $main;
  }
}

.hero,
.buy-tickets {
  width: 100%;
  max-width: unset;

  position: relative;
  background-size: cover;

  padding: 9rem 0;
  row-gap: 6.4rem;

  & > * {
    max-width: 300px;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    );
  }

  .heading {
    color: #ffffff;
    margin: 1.8rem 0 1.6rem;

    .highlight {
      color: $sec;
    }
  }

  .btn {
    margin-top: 3.2rem;
  }
}

.sub {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.4px;

  color: #f6f6f6;
}

.btn {
  text-decoration: none;

  font-family: 'Poppins';
  color: #ffffff;
  font-weight: 600;
  font-size: 2.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.8rem 2rem;
  background-color: $main;

  border-radius: 3px;

  transition: background-color 0.2s;

  &:hover {
    background-color: darken($main, 10%);
  }
}

// Navbar Styling
.navbar {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: -7rem;

  display: flex;
  justify-content: center;
}

.nav-main {
  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.logo {
  width: unset;
}

.nav-links {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;

  overflow: hidden;

  background-color: #fafafa;
  border: solid 1px rgb(231, 159, 154);
  border-radius: 5px 0 5px 5px;

  padding: 3rem 3rem;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
  align-items: center;

  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s 0.1s;
}
.nav-link {
  color: #202020;

  font-size: 2.2rem;
  text-decoration: none;
}

.nav-item:not(:last-child) {
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.nav-active {
  transform: scaleY(1);
  opacity: 1;
}

.nav-btn {
  padding: 1rem 2rem;
  color: #fff;
  font-size: 2.2rem;
}

.menu-btn {
  all: unset;

  cursor: pointer;

  z-index: 2;
}

// Hero
.details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 1.2rem;
  column-gap: 1.2rem;

  .sep {
    background-color: #f6f6f6;
    width: 1px;
    height: 2.4rem;
  }
}

.features {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 12rem;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.2rem;
}
.feature-icon {
  height: 3.6rem;
  width: auto;
}

// Bands
.bands,
.ticket-pricing {
  .heading {
    margin-bottom: 2.8rem;
  }
}

.bands-container,
.tickets-container {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  column-gap: 2rem;
  row-gap: 2rem;
  position: relative;

  & > * {
    max-width: 36rem;
  }
}

.band-scribble {
  position: absolute;
  top: -2.5rem;
  left: -1.5rem;
  width: 8rem;
  height: auto;
  z-index: -1;
}

.ticket-scribble {
  position: absolute;
  bottom: -2.5rem;
  right: -1.5rem;
  transform: rotate(180deg);
  width: 8rem;
  height: auto;
  z-index: -1;
}

.band {
  width: 100%;

  box-shadow: 0px 20px 80px rgba(32, 32, 32, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;

  transition: transform 0.2s;

  img {
    max-height: 70%;
  }

  &:hover {
    transform: scale(1.02);
  }
}

.band-content {
  padding: 1.8rem 1.8rem 2.8rem;
}

.band-sub {
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  color: #606060;

  margin-bottom: 0.5rem;
}

.box-heading {
  text-transform: uppercase;
  color: #202020;

  font-family: 'Poppins';
  font-weight: 500;
  letter-spacing: 0.4px;
  font-size: 1.8rem;

  margin-bottom: 0.5rem;
}

.band-btn {
  font-size: 1.8rem;
  padding: 0.6rem 1.8rem;
  margin-top: 1.4rem;
}

// Seperator
.section-sep {
  background-color: #909090;
  width: 70%;
  height: 1px;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 300px;

  img {
    height: 2rem;
    width: auto;
  }
}

// Tickets
.ticket {
  width: 100%;

  box-shadow: 0px 20px 80px rgba(32, 32, 32, 0.1);
  border-radius: 5px;
  background-color: #ffffff;

  position: relative;

  transition: transform 0.2s;

  .top {
    width: 100%;
    height: 4rem;

    border-radius: 5px 5px 0 0;

    &.silver {
      background-color: #c0c0c0;
    }
    &.gold {
      background-color: #ffdd77;
    }
    &.platinum {
      background-color: #d8e4f8;
    }
  }

  .box-heading {
    margin-bottom: 0.6rem;

    &.silver-text {
      color: #636363;
    }

    &.gold-text {
      color: #d99c00;
    }

    &.platinum-text {
      color: #538def;
    }
  }

  &.best-value-ticket {
    margin-top: 1.5rem;

    &::before {
      content: 'Best Value';
      position: absolute;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      padding: 1rem 2rem;
      background-color: #eea508;
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
      border-radius: 10px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &:hover {
    transform: scale(1.02);
  }
}

.ticket-content {
  padding: 1.4rem 1.8rem 2.8rem;
}

.ticket-sub {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.includes {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.item {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  img {
    height: 1.4rem;
    width: 1.4rem;
  }
}

.ticket-btn {
  margin-top: 1.4rem;
  font-size: 1.6rem;

  white-space: nowrap;

  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.arrow {
  height: 1.25rem;
  width: 2rem;
}

// Buy Tickets
.buy-tickets {
  padding: 9rem 0 2rem;
}

.link {
  color: #ffffff;
  font-weight: 500;
}

.copyright {
  color: #f2f2f2;
  font-size: 1.4rem;
}

@media screen and (min-width: 600px) {
  section {
    max-width: 500px;
  }

  .nav-main {
    max-width: 500px;
  }

  .hero,
  .buy-tickets {
    > * {
      max-width: 500px;
    }
  }

  .band-scribble {
    top: -2.5rem;
    left: 4rem;
    width: 10rem;
  }

  .ticket-scribble {
    bottom: -2.5rem;
    right: 4rem;
    width: 10rem;
  }

  .section-sep {
    max-width: 500px;
  }
}

@media screen and (min-width: 900px) {
  section {
    max-width: 800px;
  }

  .nav-main {
    max-width: 800px;
  }

  .hero,
  .buy-tickets {
    > * {
      max-width: 800px;
    }
  }

  .feature {
    position: relative;
    &:nth-child(2) {
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: -6rem;
        transform: translateY(-50%);
        height: 120%;
        width: 1px;

        background-color: #ffffff;
        opacity: 0.6;
      }

      &::after {
        left: unset;
        right: -6rem;
      }
    }
  }

  .band-scribble {
    top: -3rem;
    left: 1rem;
  }

  .ticket-scribble {
    bottom: -3rem;
    right: 20rem;
  }

  .tickets-container {
    margin-top: 1.5rem;
  }
  .ticket {
    &.best-value-ticket {
      margin-top: 0;
    }
  }

  .section-sep {
    max-width: 800px;
  }
}

@media screen and (min-width: 1166px) {
  body {
    font-size: 2rem;

    row-gap: 12rem;
  }

  section {
    max-width: 1080px;
  }

  .para {
    font-size: 2.2rem;
  }

  .heading {
    font-size: 4.8rem;
  }

  .hero,
  .buy-tickets {
    padding: 12rem 0;
    row-gap: 10rem;

    & > * {
      max-width: 1080px;
    }

    .heading {
      margin: 2.4rem 0 2.2rem;
    }

    .btn {
      margin-top: 4.8rem;
    }
  }

  .sub {
    font-size: 2.4rem;
  }

  .btn {
    width: fit-content;
    font-size: 3.2rem;

    padding: 1.2rem 3rem;
  }

  // Navbar Styling
  .navbar {
    margin-bottom: -10rem;
  }

  .nav-main {
    max-width: 1080px;
  }

  .nav-links {
    position: unset;

    width: unset;
    height: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
    padding: 0;

    flex-direction: row;
    align-items: center;
    column-gap: 4rem;

    transform: unset;
    opacity: unset;
  }

  .nav-btn {
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2.4rem;
  }

  .nav-item:last-child {
    margin-left: 1.6rem;
  }

  .menu-btn {
    display: none;
  }

  // Hero
  .details {
    row-gap: 2rem;
    column-gap: 2rem;

    .sep {
      height: 3.2rem;
    }
  }

  .feature {
    row-gap: 2rem;
  }
  .feature-icon {
    height: 4.4rem;
  }

  // Bands
  .bands,
  .ticket-pricing {
    .heading {
      margin-bottom: 3.6rem;
    }
  }

  .bands-container,
  .tickets-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;

    & > * {
      max-width: unset;
    }
  }

  .band-scribble {
    top: -5rem;
    left: -3.5rem;
    width: 15rem;
  }

  .ticket-scribble {
    bottom: -4.5rem;
    right: -3.5rem;
    width: 15rem;
  }

  .band-content {
    padding: 2.4rem 2.4rem 4rem;
  }

  .band-sub {
    font-size: 2rem;

    margin-bottom: 0.8rem;
  }

  .box-heading {
    font-size: 2.4rem;

    margin-bottom: 0.8rem;
  }

  .band-btn {
    font-size: 2.4rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }

  // Seperator
  .section-sep {
    max-width: 1080px;

    img {
      height: 4rem;
    }
  }

  // Tickets
  .tickets-container {
    grid-template: 1fr / 1fr 1.2fr 1fr;
  }

  .ticket {
    .top {
      height: 5.2rem;
    }

    .box-heading {
      margin-bottom: 0.8rem;
    }

    &.best-value-ticket {
      &::before {
        font-size: 2rem;
      }
    }
  }

  .ticket-content {
    padding: 2rem 2.4rem 4rem;
  }

  .ticket-sub {
    font-size: 2rem;
    margin-bottom: 0.8rem;
  }

  .includes {
    row-gap: 0.6rem;
  }

  .item {
    column-gap: 1.4rem;

    img {
      height: 1.8rem;
      width: 1.8rem;
    }
  }

  .ticket-btn {
    margin-top: 2rem;
    font-size: 2.2rem;
  }
  .arrow {
    height: 1.5rem;
    width: 2rem;
  }

  // Buy Tickets
  .buy-tickets {
    padding: 12rem 0 3.2rem;
  }

  .copyright {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 1400px) {
  section {
    max-width: 1300px;
  }

  .nav-main {
    max-width: 1300px;
  }

  .section-sep {
    max-width: 1300px;
  }
}
